.cast-item {
    width: 150px;
    height: 6rem;
    background-color: rgba(255, 255, 255, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    flex-shrink: 0;

    &__character {
        font-size: 1.4rem;
        color: var(--light-grey-color-1);
    }

    &__actor {
        font-size: 1.2rem;
        color: var(--light-grey-color-2);
    }

}