@import '../../sass/abstracts/mixins';

.bottom-menu {
    margin: 0 auto;
    width: 80%;
    height: 17rem;
    padding-top: 1rem;

    @include respond(tab-land) {
        height: 14rem;
    }

    @include respond(phone) {
        height: 30rem;
    }


    @include respond(big-desktop) {
        max-width: 100rem;
    }

    &__options-wrapper {
        padding: 1rem 0;
    }
}

.awards__text {
    font-size: 1.6rem;
    color: var(--light-grey-color-1);
}