@import '../../sass/abstracts/mixins';

.main {
    &-header {
        width: 80%;
        margin: 0 auto;
        padding: 2rem 0;
        padding-bottom: 0;
        position: relative;

        &__title {
            color: var(--white-color);
            font-size: 5rem;
            font-weight: 700;
            letter-spacing: 2px;

            @include respond(tab-port) {
                font-size: 3rem;
            }
        }

        &__info {
            color: var(--light-grey-color-1);
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;

            @include respond(tab-land) {
                font-size: 1.5rem;
            }
        }

        &__close-button {
            position: absolute;
            top: 2rem;
            right: 0;

            &>svg {
                height: 3rem;
                width: 3rem;
                stroke: var(--dark-grey-color-1) !important;
            }
        }
    }



    &>* {
        @include respond(big-desktop) {
            max-width: 100rem;
        }
    }
}