@import '../../sass/abstracts/mixins';

.season-info {
    width: 80%;
    flex-grow: 1;
    max-height: 100%;
    margin: 0 auto;
    overflow: hidden;

    @include respond(phone) {
        padding-top: 1.5rem;
    }


    &__episodes {
        list-style-type: none;
        flex-grow: 1;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

    }
}

.season-info-wrapper {
    height: 100%;
    max-width: 35rem;
    margin-left: auto;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
        margin: 0 auto;
    }
}