.general {
    margin: 0 auto;
    display: grid;
    gap: 0 3rem;
    grid-template-columns: max-content auto;
    align-items: start;
    padding-top: 1rem;


    &__buttons {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / 2;
    }
}

.synopsis {
    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--light-grey-color-1);
    }

    &__text {
        font-size: 1.5rem;
        color: var(--light-grey-color-1);
    }


    grid-column: 2 / 3;
}