@import '../../../sass/abstracts/mixins';

.general {
    margin: 0 auto;
    display: grid;
    gap: 0 3rem;
    grid-template-columns: min-content auto;
    align-items: start;
    padding-top: 1rem;

    @include respond(tab-land) {
        gap: 1.5rem;
    }

    @include respond(phone) {
        grid-auto-columns: 100%;
        grid-auto-rows: auto;
        gap: 2rem 0;
    }


    &__buttons {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / 2;

        @include respond(phone) {
            grid-column: 1 / -1;
        }
    }
}

.synopsis {
    grid-column: 2 / 3;

    @include respond(tab-land) {
        overflow-y: scroll;
        height: 6rem;
    }

    @include respond(phone) {
        grid-column: 1 / -1;
        height: auto;
    }

    &__title {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--light-grey-color-1);

        @include respond(tab-land) {
            font-size: 1.5rem;
        }
    }

    &__text {
        font-size: 1.5rem;
        width: 100%;
        color: var(--light-grey-color-1);

        @include respond(tab-land) {
            font-size: 1.4rem;

        }
    }
}