@import 'sass/abstracts/_mixins.scss';


.container {
  height: 100vh;
  background: linear-gradient(90deg, rgb(26, 27, 28) 55%, rgba(0, 0, 0, 1) 100%);

  .main {
    height: calc(100vh - 18rem);

    @include respond(phone) {
      height: calc(100vh - 30rem);
    }

    background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(90deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.9)),
    url('/wallpapersden.com_penny-dreadful-1_3840x2400.jpg');

    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
  }
}