@import 'sass/abstracts/variables';
@import 'sass/base/base';
@import 'sass/base/typography';


.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}