.backdrop {
    background: linear-gradient(90deg, rgb(26, 27, 28) 55%, rgba(0, 0, 0, 1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}